/**
 default colors
*/

// base colors
:root {
    // base colors
    --white-color: #fff;
    --black-color: #000;
    --main-red-color: #d01320;
    --main-red-color-rgb: 208, 19, 32;
}

// lightmode colors
:root {
    --body-bg-color: #fcfcfc; // document background color
    --nav-bg-color-rgb: 252, 252, 252; // navigation drawer background color
    --body-oposite-color: #000; // oposite of body background color

    --head-text-color: #000; // heading text color
    --body-text-color: #000000c0; // body text color
    --oposite-text-color: #fff; // text color matching with background color
}

// darkmode colors
[theme-color="dark"] {
    --body-bg-color: #303030;
    --nav-bg-color-rgb: 48, 48, 48;
    --body-oposite-color: #fff;

    --head-text-color: #fff;
    --body-text-color: #fcfcfc;
    --oposite-text-color: #000;
}
