/**
default theme settings
*/

:root {
    --element-vertical-spacing: 5rem; // vertical margin or padding spacing between elements
    --header-height: var(--element-vertical-spacing); // height of the header element
    --element-min-height: 60vh; // min height of elements
}

// margin auto class
.margin-auto {
    margin: auto !important;
}

// vertical margin
.vertical-margin {
    margin: var(--element-vertical-spacing) 0;
}

// long element
.long-element {
    min-height: var(--element-min-height);
}

// full width
.width-100 {
    width: 100% !important;
}

/* Buttons */

// red buttons

// main red outlined buttons
.red-btn-outline {
    border: 1px solid var(--main-red-color) !important;
    color: var(--main-red-color) !important;

    &:hover {
        background-color: 1px solid var(--main-red-color) !important;
    }
}

// main red contained buttons
.red-btn-contained {
    background-color: var(--main-red-color) !important;
    color: var(--white-color) !important;
}

// white buttons

// white outlined buttons
.opposite-btn-outline {
    border: 1px solid var(--body-oposite-color) !important;
    color: var(--body-oposite-color) !important;

    &:hover {
        background-color: 1px solid var(--body-oposite-color) !important;
    }
}

// white contained buttons
.opposite-btn-contained {
    background-color: var(--body-oposite-color) !important;
    color: var(--body-oposite-color) !important;
}

// text field designs
.textfield {
    label:not(.Mui-error) {
        color: var(--body-text-color) !important;
    }
    input {
        color: var(--head-text-color) !important;
    }
    *:not(.Mui-error) {
        fieldset {
            border-color: var(--body-text-color) !important;
        }
    }

    &:hover,
    &:focus {
        label:not(.Mui-error) {
            color: var(--head-text-color) !important;
        }
        *:not(.Mui-error) {
            fieldset {
                border-color: var(--head-text-color) !important;
            }
        }
    }

    // kurdish textfield
    &.kurdish-font {
        label,
        input,
        fieldset {
            font-family: var(--kurdish-font-family) !important;
        }
    }
}
