/**
Typography styles
*/

// importing MUI roboto font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// importing kurdish font
@font-face {
    src: url(../fonts/speda-bold.ttf);
    font-family: "speda";
}

// base typography styles
:root {
    --kurdish-font-family: "speda", sans-serif; // kurdish font family
}
