/* car parts */

.car-parts {
    margin-top: var(--element-vertical-spacing);
    position: relative;
    width: 100vw;
    height: fit-content;

    // car parts background image
    .car-parts-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // car parts details
    .car-parts-leftside {
        padding: calc(var(--element-vertical-spacing) * 1.5) 0;
        position: relative;
        width: 50%;
        height: 100%;
        background-color: rgba(var(--main-red-color-rgb), 0.7);
        z-index: 1;

        // leftside details
        .car-parts-details {
            margin: auto;
            text-align: center;
            max-width: 25rem;

            // car parts details subtitle
            .details-subtitle {
                font-size: var(--large-font-size);
                margin-bottom: 2rem;
                color: var(--white-color);
            }

            // car parts details title
            .details-title {
                font-size: var(--x-huge-font-size);
                margin-bottom: 5rem;
                color: var(--white-color);
            }

            // car parts details description
            .details-description {
                margin-bottom: 2rem;
                font-size: var(--medium-font-size);
                color: var(--white-color);
            }

            // car parts readmore button
            .details-read-more-btn {
                font-size: var(--medium-font-size);
            }
        }
    }
}

// responsive breakpoints

@media screen and (max-width: 500px) {
    .car-parts {
        height: fit-content;
        .car-parts-leftside {
            padding: var(--element-vertical-spacing) 0;
            width: 100%;
        }
    }
}
